:root {
  --light-accent-color: #000046;
  --dark-accent-color: #1CB5E0;
}

#header {
	z-index: -1;
	color: white;
	background-color: var(--light-accent-color);
	height: 12px;
}

#header p {
	font-size: 8px;
	color: white;
	text-align: left;
	z-index: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#header-animation {
  text-align: center;
  height: 150px;
  background: linear-gradient(222deg, var(--dark-accent-color), var(--light-accent-color));
  background-size: 400% 400%;

  animation: HeaderGradient 10s ease infinite;
}

@keyframes HeaderGradient {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}

#header-animation p {
  line-height: 150px;
  font-size: 50px;
  color:white;
  font-family: 'Bebas Neue', cursive;
}

body {
	caret-color: transparent;
	/* デフォルトの点滅カーソルを非表示 */
	border-radius: 10px;
	z-index: 1;
	margin: 15px;
}

#wrapper {
	width: 100%;
	overflow-x: hidden !important;
}

#title {
	font-size: 18px;
	margin: 5px;
	background-color: var(--light-accent-color);
	border-radius: 10px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

h1 {
	padding-top: 21px;
	padding-bottom: 10px;
	color: #aaaaaa;
	margin: 5px;
	font-family: 'Bebas Neue', cursive;
}

p {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 15px;
}

#wrapper img {
  border-radius: 10px;
}

.img-wrapper {
	text-align: center;
	margin: 10px;
}

#calendar {
	font-size: 15px;
	font-family: 'Bebas Neue', cursive;
  padding: 15px;
}

#calendar th {
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
}

#calendar td {
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
}

.sun {
	color: #ff7043 !important;
}

.sat {
	color: cornflowerblue !important;
}

#category {
	font-size: 8px;
	margin: 15px;
	font-family: 'Bebas Neue', cursive;
}

#createdAt {
	font-size: 8px;
	margin-bottom: 20px;
	margin: 15px;
	font-family: 'Bebas Neue', cursive;
}

#sidebar {
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#sidebar ul {
	border-radius: 10px;
}

#sidebar a {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
	transition: color 0.3s;
	text-decoration-line: none;
}

#sidebar a:hover {
	color: #ff7043;
}

#sidebar span {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--light-accent-color) !important;
}


/* #main {

} */

footer {
	width: 100%;
	height: 120px;
	text-align: center;
	padding: 50px 0;
	margin-top: 20px;
	background-color: #cccccc;
}

footer p {
	color: #fff;
	font-size: 10.5px;
	font-family: Arial, Helvetica, sans-serif;
}

.ft-area {
	height: 300px;
	background-color: #1d2324;
	margin: 10px;
	margin-top: 10px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
}

#clock {
	font-size: 136px;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	color: var(--light-accent-color);
}

#TimerDisplay {
	font-size: 136px;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	color: var(--light-accent-color);
}

.ex {
	font-size: 10px;
	color: #888888;
}

#Panel {
	text-align: center;
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: var(--light-accent-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 100px;
	font-family: 'Bebas Neue', cursive;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}

.loading.active {
	opacity: 1;
	visibility: visible;
	z-index: 1;
}


/* ローディングアニメーション */

@keyframes flashing {
	50% {
		opacity: .4;
	}
}

.loading-txt {
	animation: 1.0s flashing infinite;
}

​
/*スマートフォン*/

@media screen and (max-width: 480px) {}


/*ダークモード*/

@media (prefers-color-scheme: dark) {
	#header {
		background-color: #1d2324 !important;
	}
	#header p {
		color: white;
	}
	#Timer {
		border: 3px solid var(--dark-accent-color);
		border-radius: 10px;
	}
	#clock {
		color: white;
		border: 3px solid var(--dark-accent-color);
		border-radius: 10px;
	}
	#TimerDisplay {
		color: white;
	}
	body {
		background-color: #000000 !important;
		color: #e4e4e4 !important;
	}
	a {
		color: var(--dark-accent-color) !important;
	}
	#wrapper img {
		filter: grayscale(30%);
		background-color: white;
		border-radius: 10px;
	}
	#title {
		border: 3px solid var(--dark-accent-color);
		background-color: #1d2324 !important;
	}
	#calendar {
		border: 3px solid var(--dark-accent-color);
		border-radius: 10px;
	}
	#calendar th {
		color: white;
		background-color: #1d2324 !important;
	}
	#calendar td {
		color: white;
		background-color: #1d2324 !important;
	}
	#sidebar ul {
		border: 3px solid var(--dark-accent-color);
	}
	#sidebar li {
		background-color: #1d2324 !important;
	}
	#sidebar span {
		background-color: var(--dark-accent-color) !important;
		color: #000000;
	}
	footer {
		background-color: #000000 !important;
	}
	.loading {
		color: white;
		background-color: #000;
	}
}