/*グローバル変数*/
:root {
  --light-accent-color: #000046;
/*  --light-main-color: #fff;*/
  --dark-main-color: #000000;
  --dark-sub-color: #1d2324;
  --dark-accent-color: #1CB5E0;
  --radius-size: 7.5px;
  --main-font: 'Bebas Neue', cursive;
  --sub-font: Arial, Helvetica, sans-serif;
  --letter-space: 1px;
}

/*ヘッダー*/
#header {
	z-index: -1;
	color: white;
	background-color: var(--light-accent-color);
	height: 12px;
}

#header p {
	font-size: 8px;
	color: white;
	text-align: left;
	z-index: 0;
	font-family: var(--sub-font);
}

/*ヘッダー(背景描画)*/
#header-animation {
  text-align: center;
  height: 150px;
  background: linear-gradient(222deg, var(--dark-accent-color), var(--light-accent-color));
  background-size: 400% 400%;

  animation: HeaderGradient 10s ease infinite;
}

#header-animation p {
	line-height: 150px;
	font-size: 50px;
	color:white;
	font-family: var(--main-font);
	letter-spacing: var(--letter-space);
  }

@keyframes HeaderGradient {
  0%{background-position:90% 0%}
  50%{background-position:11% 100%}
  100%{background-position:90% 0%}
}

/*本文*/
body {
	caret-color: transparent;
	border-radius: var(--radius-size);
	z-index: 1;
	margin: 15px;
}

#wrapper {
	width: 100%;
	overflow-x: hidden !important;
}

/*タイトル*/
#title {
	font-size: 20px;
	margin: 5px;
	background-color: var(--light-accent-color);
	border-radius: var(--radius-size);
	padding: 10px;
	font-family: var(--sub-font);
	color: white;
}

h1 {
	padding-top: 22px;
	padding-bottom: 10px;
	color: #aaaaaa;
	margin: 5px;
	letter-spacing: var(--letter-space);
	font-family: var(--main-font);
}

p {
	font-size: 12px;
	font-family: var(--sub-font);;
	margin: 15px;
}

/*画像*/
#wrapper img {
  border-radius: var(--radius-size);
}

.img-wrapper {
	text-align: center;
	margin: 10px;
}

/*カレンダー*/
#calendar {
	font-size: 15px;
	font-family: var(--main-font);
  padding: 15px;
}

#calendar th {
	font-size: 20px;
	font-family: var(--main-font);
}

#calendar td {
	font-size: 20px;
	font-family: var(--main-font);
}

.sun {
	color: #ff7043 !important;
}

.sat {
	color: cornflowerblue !important;
}

/*カテゴリ*/
#category {
	font-size: 8px;
	margin: 15px;
	font-family: var(--main-font);
}

/*作成日時*/
#createdAt {
	font-size: 8px;
	margin-bottom: 20px;
	margin: 15px;
	font-family: var(--main-font);
}

#share{
	margin: 15px;
}

/*Tweetボタン*/
#tweet {
	font-weight: bold;
	padding: .8em 1.6em;
	background-color: #00acee;
	text-decoration: none;
	border-style: none;
	border-radius: 5px;
	text-align: center;
	margin: 5px;
}
#tweet:hover {
	opacity: 0.6;
	transition: 1.0s;
}
#tweet a {
	display: block;
	color:white;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: var(--letter-space);
	font-family: var(--main-font);
}

/*facebookボタン*/
#facebook {
	font-weight: bold;
	padding: .8em 1.6em;
	background-color: #222222;
	text-decoration: none;
	border-style: none;
	border-radius: 5px;
	text-align: center;
	margin: 5px;
}
#facebook:hover {
	opacity: 0.6;
	transition: 1.0s;
}
#facebook a {
	display: block;
	color:white;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: var(--letter-space);
	font-family: var(--main-font);
}

/*Lineボタン*/
#Line {
	font-weight: bold;
	padding: .8em 1.6em;
	background-color: #06c755;
	text-decoration: none;
	border-style: none;
	border-radius: 5px;
	text-align: center;
	margin: 5px;
}
#Line:hover {
	opacity: 0.6;
	transition: 1.0s;
}
#Line a {
	display: block;
	color:white;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: var(--letter-space);
	font-family: var(--main-font);
}

/*サイドバー*/
#sidebar {
	border-radius: var(--radius-size);
	font-family: var(--sub-font);
}

#sidebar ul {
	border-radius: var(--radius-size);
}

#sidebar a {
	font-size: 15px;
	font-family: var(--sub-font);
	margin: 10px;
	transition: color 0.3s;
	text-decoration-line: none;
}

#sidebar a:hover {
	color: #ff7043;
}

#sidebar span {
	font-size: 12px;
	font-family: var(--sub-font);
	background-color: var(--light-accent-color) !important;
}

/*フッター*/
footer {
	width: 100%;
	height: 120px;
	text-align: center;
	padding: 50px 0;
	margin-top: 20px;
	background-color: #cccccc;
}

footer p {
	color: #fff;
	font-size: 10.5px;
	font-family: var(--sub-font);;
}

.ft-area {
	height: 300px;
	background-color: #1d2324;
	margin: 10px;
	margin-top: 10px;
	font-size: 18px;
	font-family: var(--sub-font);;
	border-radius: var(--radius-size);
}

/*時計*/
#clock {
	font-size: 136px;
	font-family: var(--main-font);
	text-align: center;
	color: var(--light-accent-color);
}

/*ポモドーロタイマー*/
#TimerDisplay {
	font-size: 136px;
	font-family: var(--main-font);
	text-align: center;
	color: var(--light-accent-color);
}

#Panel {
	text-align: center;
}

.ex {
	font-size: 10px;
	color: #888888;
}

/*ローディングアニメーション*/
.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: var(--light-accent-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 100px;
	font-family: var(--main-font);
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}

.loading.active {
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

.loading-txt {
	animation: 1.0s flashing infinite;
	letter-spacing: var(--letter-space);
}

@keyframes flashing {
	50% {
		opacity: .4;
	}
}

/*ダークモード*/
@media (prefers-color-scheme: dark) {
	#header {
		background-color: var(--dark-sub-color) !important;
	}
	#header p {
		color: white;
	}
	#title {
		border: 3px solid var(--dark-accent-color);
		background-color: var(--dark-sub-color) !important;
	}
	#Timer {
		border: 3px solid var(--dark-accent-color);
		border-radius: var(--radius-size);
	}
	#clock {
		color: white;
		border: 3px solid var(--dark-accent-color);
		border-radius: var(--radius-size);
	}
	#TimerDisplay {
		color: white;
	}
	body {
		background-color: var(--dark-main-color) !important;
		color: #e4e4e4 !important;
	}
	a {
		color: var(--dark-accent-color) !important;
	}
	#wrapper img {
		filter: grayscale(30%);
		background-color: white;
		border-radius: var(--radius-size);
	}
	#calendar {
		border: 3px solid var(--dark-accent-color);
		border-radius: var(--radius-size);
	}
	#calendar th {
		color: white;
		background-color: var(--dark-sub-color) !important;
	}
	#calendar td {
		color: white;
		background-color: var(--dark-sub-color) !important;
	}
	#sidebar ul {
		border: 3px solid var(--dark-accent-color);
	}
	#sidebar li {
		background-color: var(--dark-sub-color) !important;
	}
	#sidebar span {
		background-color: var(--dark-accent-color) !important;
		color: white;
	}
	footer {
		background-color: var(--dark-main-color) !important;
	}
	.loading {
		color: white;
		background-color: var(--dark-main-color);
	}
	#tweet a {
		color:white !important;
	}
	#facebook a {
		color:white !important;
	}
	#Line a {
		color:white !important;
	}
}